/* Indent Headers in Edit and Preview */

/* Edit Mode Indents */
.HyperMD-header.HyperMD-header-2.CodeMirror-line {
  text-indent: 1em;
}

.HyperMD-header.HyperMD-header-3.CodeMirror-line {
  text-indent: 2em;
}

.HyperMD-header.HyperMD-header-4.CodeMirror-line {
  text-indent: 3em;
}

.HyperMD-header.HyperMD-header-5.CodeMirror-line {
  text-indent: 4em;
}

.HyperMD-header.HyperMD-header-6.CodeMirror-line {
  text-indent: 5em;
}

/* Preview Mode Indents */

h2 {
  text-indent: 1em;
}

h3 {
  text-indent: 2em;
}

h4 {
  text-indent: 3em;
}

h5 {
  text-indent: 4em;
}

h6 {
  text-indent: 5em;
}
