/* Tag Colors */
.tag[href^="#refnote"] {
  background-color: blue;
}

.tag[href^="#litnote"] {
  background-color: green;
}

.tag[href^="#permnote"] {
  background-color: orange;
}

.permanent-note .markdown-embed-title {
  display: none;
}

/* Tag Color adjustments for Live Preview */
span.cm-formatting.cm-formatting-hashtag.cm-hashtag.cm-hashtag-begin.cm-tag-litnote {
  background-color: green !important;
  color: white !important;
}
span.cm-hashtag.cm-hashtag-end.cm-meta.cm-tag-litnote {
  background-color: green !important;
  color: white !important;
}

span.cm-formatting.cm-formatting-hashtag.cm-hashtag.cm-hashtag-begin.cm-tag-permnote {
  background-color: orange !important;
  color: white !important;
}
span.cm-hashtag.cm-hashtag-end.cm-meta.cm-tag-permnote {
  background-color: orange !important;
  color: white !important;
}

span.cm-formatting.cm-formatting-hashtag.cm-hashtag.cm-hashtag-begin.cm-tag-refnote {
  background-color: blue !important;
  color: white !important;
}
span.cm-hashtag.cm-hashtag-end.cm-meta.cm-tag-refnote {
  background-color: blue !important;
  color: white !important;
}

/* Text Headings */
.permanent-note strong {
  color: orange !important;
  font-weight: 900 !important;
}
.literature-note strong {
  color: green !important;
}

.slipbox li { color: orange;
}
